.navbar {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  height: 12vh;
  position: relative;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar__item a {
  color: black;
  text-decoration: none;
  position: relative;
  padding: 0.5rem;
}

.navbar__item a:hover {
  background-color: rgb(4, 4, 24);
  border-radius: 5px;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 15px;
  background-color: rgb(9, 9, 41);
  color: white;
  top: 100%;
  left: 0;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content li {
  padding: 0.5rem 1rem;
}

.dropdown-content li a {
  color: white;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: white;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive - Mobile */
@media (max-width: 768px) {
  .navbar__links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    height: 100vh;
    z-index: 5;
    width: 100%;
    display: none;
  }

  .navbar__links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .dropdown-content {
    position: static;
  }
}
@media (max-width: 480px) {
  .navbar__logo {
    margin-left: -60px;
  }
  .hamburger {
    margin-right: -50px;
  }
}
